<div class = "row">
    <h2> Repository List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Repository Name</th>
            <th> Repository Type</th>
            <th> Repository Languages</th>
            <th> Repository LOC</th>
            <th> Overall Rating </th>
            <th> Last Scanned Date</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let repository of repositories" >
            <td> {{ repository.repositoryName }} </td>
            <td> {{ repository.repositoryType }} </td>
            <td> {{ repository.languages }} </td>
            <td> {{ repository.loc }} </td>
            <td> {{ repository.overallRating }} </td>
            <td> {{ repository.timeStamp }} </td>
            <td>
                <!--<button (click) = "scanRepository(repository.uid)" class = "btn btn-primary"> Update</button>-->
                <!--<button (click) = "repositoryDetails(repository.uid)" class = "btn btn-primary" style="margin-left: 10px"> View</button>-->
            </td>
        </tr>
    </tbody>
</table>
